<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CustomSMS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>04200B2D8113DE6300A784EC7C15C1B3D6AAFE70</string>
				<key>dateExpires</key>
				<string>10/13/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4W6FQ2G6M9.HANDEEBAN-SELVADURAI</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>4W6FQ2G6M9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>CustomSMS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>78361def-7f16-4fa7-b23b-0e9515a9a135</string>
				<key>name</key>
				<string>appStore</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4W6FQ2G6M9</string>
				<key>name</key>
				<string>Handeeban Selvadurai</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
